# Ignore Streamlit secrets
.streamlit/secrets.toml

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
venv/

# OS files
.DS_Store

# Logs
*.log

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Environment settings
.env
.env.*

